<br/>
<%= form_tag({:action => :import}, multipart: true) do %>
  <span  class="btn btn-info"  >Choose File: <%= file_field_tag :file%></span>
  <%= submit_tag("Import",  class: "btn btn-info btn-file" )  %>
<% end %>
