<h1>Costomer#index</h1>
<p>Find me in app/views/costomer/index.html.erb</p>

<%= form_tag({:action => :import}, multipart: true) do %>
  <%= file_field_tag :file %>
  <%= submit_tag( "Import" ) %>
<% end %>